CompileFlags:
  CompilationDatabase: build/debug-fast
  Remove: ["/Yc*", "/Yu*", "/Fp*", "/FI*"]
  Add: [-std=c++17, -Ilibs/rapidyaml, -Isrc, -DC4_MSVC, -DC4_MSVC_VERSION=17]
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
Index:
  Background: Build
InlayHints:
  Enabled: No
Hover:
  ShowAKA: Yes
